<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
		"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
		"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">


<!--
	http://checkstyle.sourceforge.net/checks.html 
	https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml
-->

<module name="Checker">
	<property name="charset" value="UTF-8"/>
	<property name="severity" value="warning"/>

	<property name="fileExtensions" value="java, properties, xml"/>
	<!-- Excludes all 'module-info.java' files							-->
	<!-- See https://checkstyle.org/config_filefilters.html -->
	<module name="BeforeExecutionExclusionFileFilter">
		<property name="fileNamePattern" value="module\-info\.java$"/>
	</module>
	<!-- https://checkstyle.org/config_filters.html#SuppressionFilter -->
	<module name="SuppressionFilter">
		<property name="file" value="${org.checkstyle.google.suppressionfilter.config}"
					 default="checkstyle-suppressions.xml" />
		<property name="optional" value="true"/>
	</module>

	<module name="LineLength">
		<property name="fileExtensions" value="java"/>
		<property name="max" value="100"/>
		<property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
	</module>

	<!-- All packages must have package-info.java -->
	<module name="JavadocPackage" />

	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf_cr_crlf" />
		<property name="fileExtensions" value="java,xml" />
	</module>

	<module name="TreeWalker">
		<!-- Imports -->
		<module name="IllegalImport" />
		<module name="RedundantImport" />
		<module name="UnusedImports" />
		<module name="AvoidStarImport"/>

		<module name="ModifierOrder" />
		<module name="OuterTypeFilename"/>
			<module name="OneStatementPerLine"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="ArrayTypeStyle"/>
		<module name="MissingSwitchDefault"/>
		<module name="TrailingComment" />
		<module name="ArrayTypeStyle" />
		<module name="UpperEll" />

		<module name="IllegalTokenText">
				<property name="tokens" value="STRING_LITERAL, CHAR_LITERAL"/>
				<property name="format"
					value="\\u00(09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)"/>
				<property name="message"
					value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
		</module>
		<module name="AvoidEscapedUnicodeCharacters">
				<property name="allowEscapesForControlCharacters" value="true"/>
				<property name="allowByTailComment" value="true"/>
				<property name="allowNonPrintableEscapes" value="true"/>
		</module>

		<module name="AnnotationLocation">
			<property name="id" value="AnnotationLocationVariables"/>
			<property name="tokens" value="VARIABLE_DEF"/>
			<property name="allowSamelineMultipleAnnotations" value="true"/>
		</module>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="InvalidJavadocPosition"/>
		<module name="JavadocTagContinuationIndentation"/>
		<module name="JavadocParagraph"/>
		<module name="AtclauseOrder">
			<property name="tagOrder" value="@param, @return, @throws, @deprecated"/>
			<property name="target"
					value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
		</module>
		<module name="JavadocMethod">
			<property name="accessModifiers" value="public"/>
			<property name="allowMissingParamTags" value="true"/>
			<property name="allowMissingReturnTag" value="true"/>
			<property name="allowedAnnotations" value="Override, Test"/>
			<property name="tokens" value="METHOD_DEF, CTOR_DEF, ANNOTATION_FIELD_DEF, COMPACT_CTOR_DEF"/>
		</module>
		<module name="SingleLineJavadoc"/>
		<module name="EmptyCatchBlock">
			<property name="exceptionVariableName" value="expected"/>
		</module>
	</module>
</module>